.background {
  background-color: #07080c;
  height: 100vh;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-weight: bold;
}
.button1 {
  background-color: #0b69ff;
  border-radius: 10px;
  height: 50px;
  width: 130px;
  padding: 10px;
  margin: 10px;
  border-width: 0px;
}
.button2 {
  border-radius: 10px;
  color: #ffffff;
  height: 50px;
  width: 130px;
  padding: 10px;
  margin: 10px;
  border-width: 5px;
  border-color: white;
  background-color: #07080c;
}

.image {
  height: 500px;
  width: 500px;
}







